.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;    
    flex-direction: column;
}

.listSearch{
    width: 100%;
    background: linear-gradient(90deg, rgb(255, 124, 1) 12%, rgb(216, 114, 247) 69%, rgba(203,123,10,1) 100%);;
    padding: 0 10px;
    border-radius: 10px;
    position: sticky; 
    top: 0;
    height: max-content;
}
.lsTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}
.lsItems{ /**/
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    
}
.lsItems>button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
    min-width: 100px;
    
}

.lsItem{
    display: flex;
    gap: 5px;
    flex-direction: column;
    position: relative;
}

.date { /**/
    position: absolute;
    top: 50px;
    z-index: 2;
    
}

.lsItem>label{
    font-size: 12px;
}
.lsItem>input{
    height: 30px;
    border:none;
    padding: 5px;
}
.lsItem>span{
    height: 30px;
    border:none;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listResult{
}
.lsOptions{
    padding: 10px;
}

.lsOptionItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    
}
.lsOptionItem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
    gap: 10px;
}


.lsOptionInput{
    width: 60%;
}

